*{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

title{
    display:none;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1em 1em 1.5em 1em;
    margin: 5em 1.5em 0.5em 1.5em;
    width: 340px;
}

.container img{
    max-width: 100%;
    border-radius: 10px;
}

h1{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 0;
    width: 285px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    background-color: hsl(0, 0%, 100%);
    padding-left: 1em;
    padding-right: 1em;
    width: 285px;
}

footer { 
    font-size: 11px; 
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: row;
}
a { 
    color: hsl(218, 44%, 22%);
}
